@media screen and (max-width: 768px) {
  header {
    background-position: left;
  }

  .gallery, header nav {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .nav a {
    margin: 0 1px;
  }
}
